
#header {
  margin-left: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#badge {
  margin-left: 20px;
}

#createNewNote {
  width: 289px;
  height: 150px;
 
}

#addNewColumn {
  opacity: 0.5;
  margin-left: 10px;
  width: 289px;
  justify-content: center;
}

#createNewColumnInput {
  margin-right: 20px;
}
#addNewColumn:hover {
  opacity: 1;
}

#createNewColumnInput {
  width: 50px;
}

.card-header {
  padding-left: 10px;
  padding-right: 0px;
}


#newNote {
  margin-left: 25px;
  width: 289px;
  text-align: center;
}


#createNote {
  margin-left: 50px;

}
