
.card-header {
  padding-left: 10px;
  padding-right: 0px;
}

#addNoteCard {
  padding-left: 20px;
  padding-right: 20px;
 
}

#newNote {
  margin-left: 25px;
  width: 289px;
  text-align: center;
}

#createNewNote {
  width: 289px;
 
}

  #addNewColumn {
    opacity: 0.5;
    margin-left: 10px;
    width: 289px;
  }
  #addNewColumn:hover {
    opacity: 1;
  }

#createNote {
  margin-left: 50px;

}
